<form novalidate (ngSubmit)="onSub()" [formGroup]="fg">
  <p>
    <input type="text" formControlName="usNm" placeholder="Enter UserName">

  </p>
  <p *ngIf="fg.controls.usNm.errors?.required">Enter username
  </p>
  <p *ngIf="fg.controls.usNm.errors?.isStartWithA">
Enter Valid userName (starts with a or A)
  </p>
  <p>
    <input type="text" formControlName="pass" placeholder="Enter password">
  </p>
  <p *ngIf="fg.controls.pass.errors">Enter Valid password</p>
  <p>
    <input type="text" formControlName="eml" placeholder="Enter Email ">
  </p>
  <p *ngIf="fg.controls.eml.errors">Enter Valid Email</p>
  <p>
    <input type="submit" value="Save" [disabled]="!fg.valid">

  </p>
</form>
